$navgroundcolor: #323232 ;
$parcolor: #323232;
$labelcolor: #AFAFAF;
$textborder: #E1E1E1 ;
$textbackfill: #FAFAFA;
$lightblacktint: rgba(100, 99, 99, 0.397);
$divider: rgb(199, 199, 199);
$clicked: rgb(24, 23, 105);
