$navgroundcolor: #ff943c ;
$parcolor: #323232;
$labelcolor: rgb(236, 236, 236);
$textborder: #E1E1E1 ;
$textbackfill: #FAFAFA;
$lightblacktint: rgba(100, 99, 99, 0.397);
$divider: rgb(199, 199, 199);
$clicked: rgb(24, 23, 105);
